<launch>
<arg name="frequency" value="40"/> 
<arg name="use_mmuav_simulation" value="false"/>
<arg name="config_name" value="bebop.yml"/>
<arg name="gui_config" value="bebop_gui.yml"/>
<arg name="use_hpe" value="false"/>

<group if="$(arg use_mmuav_simulation)">

    <include file="$(find mmuav_gazebo)/launch/uav_attitude_position.launch">
    		<arg name="manipulator_type" value="none" />
    		<arg name="manipulator_tool" value="none" />
    		<arg name="z" value="1.0"/>

  	</include>    

</group>

<node pkg="uav_ar_gui" type="fpv.py" name="uav_AR_gui_node" output="screen" args="$(arg frequency) $(arg config_name) $(arg gui_config) $(arg use_hpe)"></node>


</launch>
